/* You can add global styles to this file, and also import other style files */
.brand-logo img {
  height: -webkit-fill-available;
}
nav {
  margin-bottom: 5vh;
}

.input-group {
  display: table;
}

.input-group input,
.suffix {
  display: table-cell;
}

.suffix {
  width: 1%;
}

#map{
  width: 100%;
  height: 80vh;
}

#Smap, #Nmap{
    width: 100%;
    height: 300px;
}

.buttonList{
    width: 100%;
    margin-bottom: 10px;
}