 <nav class="light-blue darken-2">
  <div class="nav-wrapper">
    <div class="container">
      <a class="brand-logo"><img src="/assets/images/logo.png"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="https://guilhermecamacho.com">Guilherme Camacho</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col s4">
      <div class="row">
       <app-form [address]='address'></app-form>
      </div>
    </div>
    <div class="col s8">
      <app-map (address)='reciverFeedback($event)'></app-map>
    </div>
  </div>
</div>